<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <app-searchfrm [s_category]="category"></app-searchfrm>
      sunt in categoria: {{ category }}
    </div>
    <div class="col-sm-9">
      <div class="modal fade" id="selectedImageModal" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="selectedImage" *ngIf="selectedImage">
                <img src="{{selectedImage.url}}" >
                <div class="arrow-back" (click)=navigate(false)>
                  &lt;
                </div>
                <div class="arrow-forward" (click)=navigate(true)>
                  &gt;
                </div>
                <div class="caption">
                  <p><strong>{{selectedImage.title}}</strong></p>
                  <p>{{selectedImage.caption}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <mat-grid-list cols="4" rowHeight="200px">
          <mat-grid-tile
                  *ngFor="let image of datasource"
                  [colspan]=1
                  [rowspan]=1>
            <img src="{{image.url}}" class="tn"
                 width="200" height="200"
                 (click)=setSelectedImage(image)>
            <div class="caption">
              <p><strong>{{image.title}}</strong></p>
              <p>{{image.caption}}</p>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      <p>Pagina de categorie vine aici.</p>
    </div>
  </div>
</div>
