.tn{
  margin:2px 0px;
  box-shadow:#999 1px 1px 3px 1px;
  cursor: pointer
}
.image{
  position:relative }
.caption{
  position:absolute;
  height:50px;
  width:100%;
  top:410;
  left:0;
  opacity:0.9;
  background-color:black;
  color:white;
  padding:5px;
  font-family:verdana;
  font-size:12px;
}
p {
  -webkit-margin-before: 5px !important;
  -webkit-margin-after: 5px !important;
}