<div class="card">

    <div class="card-body">
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form1" class="form-control form-control-sm">
            <label for="form1" class="">Denumire</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <app-gglplcs></app-gglplcs>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form5" class="form-control form-control-sm">
            <label for="form5" class="">Pret maxim meniu</label>
        </div>
        <div class="md-form form-sm">
            <h6 class="m-b-0">Numar minim invitati</h6>
            <mat-slider thumbLabel></mat-slider>
        </div>
        <div class="md-form form-sm">
            <h6 class="m-b-0">Numar maxim invitati</h6>
            <mat-slider thumbLabel></mat-slider>
        </div>
        <div class="row">
            <div class="form-check col-sm-6">
                <mat-checkbox class="mr-1"></mat-checkbox>
                <label class="form-check-label">Outdoor</label>
            </div>
            <div class="form-check col-sm-6">
                <mat-checkbox class="mr-1"></mat-checkbox>
                <label class="form-check-label">Cazare</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-check col-sm-6">
                <mat-checkbox class="mr-1"></mat-checkbox>
                <label class="form-check-label">Artificii</label>
            </div>
            <div class="form-check col-sm-6">
                <mat-checkbox class="mr-1"></mat-checkbox>
                <label class="form-check-label">Divertisment</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-check col-sm-6">
                <mat-checkbox class="mr-1"></mat-checkbox>
                <label class="form-check-label">Aranjare salon</label>
            </div>
            <div class="form-check col-sm-6">
                <mat-checkbox class="mr-1"></mat-checkbox>
                <label class="form-check-label">Parcare</label>
            </div>
        </div>
        <div class="text-center py-4 mt-3">
            <button class="btn btn-cyan" (click)="doSearch()">Cauta</button>
        </div>
    </div>
</div>
