<div class="card bg-light text-dark">

    <div class="card-body">
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form1" class="form-control form-control-sm">
            <label for="form1" class="">Denumire</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form2" class="form-control form-control-sm">
            <label for="form2" class="">Locatie</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form3" class="form-control form-control-sm">
            <label for="form3" class="">Numar minim invitati</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form4" class="form-control form-control-sm">
            <label for="form4" class="">Numar maxim invitati</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form5" class="form-control form-control-sm">
            <label for="form5" class="">Pret meniu</label>
        </div>
        <div class="md-form form-sm">
            <label class="form-check-label">
                <input class="form-check-input" id="form6" type="checkbox"> Facilitati outdoor
            </label>
        </div>
        <br>
        <div class="md-form form-sm">
            <label class="form-check-label">
                <input class="form-check-input" id="form7" type="checkbox"> Cazare
            </label>
        </div>
        <br>
        <div class="md-form form-sm">
            <label class="form-check-label">
                <input class="form-check-input" id="form8" type="checkbox"> Divertisment
            </label>
        </div>
        <br>
        <div class="md-form form-sm">
            <label class="form-check-label">
                <input class="form-check-input" id="form9" type="checkbox"> Artificii
            </label>
        </div>
        <br>
        <div class="md-form form-sm">
            <label class="form-check-label">
                <input class="form-check-input" id="form10" type="checkbox"> Aranjare salon
            </label>
        </div>
        <br>
        <div class="md-form form-sm">
            <label class="form-check-label">
                <input class="form-check-input" id="form11" type="checkbox"> Parcare
            </label>
        </div>
    </div>
</div>
