<div class="card">

    <!-- Card body -->
    <div class="card-body">

        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form1" class="form-control form-control-sm">
            <label for="form1" class="">Denumire</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form2" class="form-control form-control-sm">
            <label for="form2" class="">Locatie</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form3" class="form-control form-control-sm">
            <label for="form3" class="">Numar minim invitati</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form4" class="form-control form-control-sm">
            <label for="form4" class="">Numar maxim invitati</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form5" class="form-control form-control-sm">
            <label for="form5" class="">Pret meniu</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form6" class="form-control form-control-sm">
            <label for="form6" class="">Facilitati outdoor?</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form7" class="form-control form-control-sm">
            <label for="form7" class="">Cazare?</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form8" class="form-control form-control-sm">
            <label for="form8" class="">Divertisment?</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form9" class="form-control form-control-sm">
            <label for="form9" class="">Artificii?</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form10" class="form-control form-control-sm">
            <label for="form10" class="">Aranjare salon?</label>
        </div>
        <div class="md-form form-sm">
            <i class="fa fa-envelope prefix"></i>
            <input mdbInputDirective type="text" id="form11" class="form-control form-control-sm">
            <label for="form11" class="">Parcare?</label>
        </div>
    <!-- Card body -->
    </div>
</div>
